footer {
    @include contenedor(100%, auto, $colorPrincipal);
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    li:first-of-type a {
        font-size: 1.3em;
    }

    li:first-of-type {
        margin-bottom: 5%;
    }

    a {
        color: $colorLetra;
        font-size: 1.1em;
        font-weight: 900;
    }
}

#redes {

    img {
        width: $sizeRedes;
    }
}

#infoPag {
    li {
        list-style: none;
    }
}

#localizacion {
    a {
        text-align: center;
        width: 100%;
        display: inline-block;
        margin-bottom: 2%;
    }
}

#map {
    width: 400px;
    height: 150px;
    background: url("../img/mapa.jpg");
}