/// Resume las características de ancho, alto y color de un contenedor
/// @param {float} $ancho Ancho del contenedor
/// @param {float} $alto Alto del contenedor
/// @param {string} $color Color del contenedor (Si no se quiere color poner transparent)
@mixin contenedor ($ancho, $alto, $color) {
    width: $ancho;
    height: $alto;
    background-color: $color;
}
/// Características resumidas para los botones pudiendo variar ancho, color, tamaño de letra y padding
/// @param {float} $width Ancho del boton
/// @param {srting} $color Color del botón
/// @param {float} $fontSize Tamaño de la letra
@mixin boton ($width, $color, $fontSize) {
    padding: 3% 4%;
    width: $width;
    background-color: $color;
    border: 0px;
    font-size: $fontSize;
    border-radius: 10px;
    color: white;

    &:hover {

    }
}

@function aclararColor($color) {
}


@font-face {
    font-family: "PoetsenOne";
    src: url("../font/PoetsenOne-Regular.ttf");
}

@font-face {
    font-family: "Resolve";
    src: url("../font/Resolve-Light.otf");
}