header {
    font-family: "PoetsenOne";
    font-size: 1.3em
}


#alerta {
    @include contenedor(100%, auto, $colorPrincipal);
    padding: 0.5%;
    text-align: center
}

nav {
    @include contenedor(100%, auto, $colorSecundario);
    padding: 0.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: $colorLetra;
    }

    img {
        width: $sizeLogo;
    }
}

#localizacionPag {
    display: inline-block;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 0.8em;
    font-family: "Resolve";
}