//Header, le damos un tamaño de letra general y un peso
header {
    font-size: 1.3em;
    font-weight: 900;

    nav {
        cursor: pointer;
    }
}

//Div que se mostrará encima mostrando la última novedad
#alerta {
    //Incluimos el mixed contenedor para darle un ancho, alto y color
    @include contenedor(100%, auto, $colorPrincipal);
    padding: 0.5%;
    text-align: center;
    color: $colorLetra
}

//Nav donde se encuentran los botones para movernos por las páginas
nav {
    //Incluimos el mixed contenedor para darle ancho, alto y color
    @include contenedor(100%, auto, $colorSecundario);
    padding: 0% 2%;

    //Ul que contiene cada uno de los elementos del nav
    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
    }

    //Li de cada uno de los elementos
    li {
        position: relative;
        text-align: center;
        width: 100%;

        &:hover {
            background-color: aclararColor($colorDestacado);
        }

        //Todos menos el primer li
        &:not(li:first-child){
            border-left: $borderHeader solid $colorLetra;
        }
    }

    a {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        color: $colorLetra;
    }

    //Imagen del logo
    img {
        width: $sizeLogo;
        margin: auto;
    }
}

#localizacionPag {
    display: inline-block;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 0.8em;
    //Ponemos 98% ya que tiene un 2% de margin-left
    width: 98%;

    ul {
        width: 100%;
    }
    
    li {
        display: inline;
        padding: 0 0.5%;
    }
    
    a {
        color: $colorPrincipal;
        padding-right: 1%;
        text-decoration: underline;
    }

    a:visited {
        color: $colorPrincipalOscuro;
    }
}