//Características generales
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Resolve";
}

a {
    text-decoration: none;
}

//Hacemos los textos un poco más grandes y con algo más de espacio entre lineas y palabras para facilitar la lecturas
p {
    font-size: 1.1em;
    line-height: 1.3em;
    word-spacing: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    //Esta fuente debe estar con font-weigth 100 para permitir una buena lectura
    font-family: "PoetsenOne";
    font-weight: 100;
}

//Main
main {
    font-family: "Resolve";
    position: relative;
}

//Presentación
#presentacion {
    @include contenedor(80%, auto, transparent);
    margin: auto;
    margin-bottom: 5%;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    //Contenedor con el texto
    div {
        flex-grow: 1;
    }

    h2 {
        margin-bottom: 2%;
    }

    p {
        text-align: justify;
    }

    //Logo
    img {
        margin-left: 5%;
        width: $sizeLogoPresentacion;
    }

    //Adaptación para móviles mediante aspect ratio
    @media screen and (max-aspect-ratio:  195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
        //Div contenedor #presentacion
        & {
            flex-wrap: wrap;
            width: 90%;
            padding-bottom: 10%;
        }

        //Div con el texto, le ponemos mayor orden para que vaya después de la imagen
        div {
            order: 2;
        }

        //Imagen del texoto
        img {
            width: 50%;
            margin-bottom: 5%;
        }

        //Titulo
        h2 {
            text-align: center;
            padding-bottom: 3%;
        }

    }

    //Adaptación para tablets mediante aspect ratio
    @media screen and (max-aspect-ratio: 41/59) and (min-width: 540px), (max-aspect-ratio: 3/4) and (min-width: 540px) {
        //Contenedor #presentacion
        & {
            margin-top: 3%;
            margin-bottom: 10%;
        }

        img {
            width: 200px;
        }
    }
}

//Suscripciones
#suscripciones {
    //visibility: hidden;
    @include contenedor(100%, auto, $colorSecundario);
    padding: 3% 2%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
    position: relative;

    //Adaptación a movil
    @media screen and (max-aspect-ratio: 195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
        //Contenedor #suscripciones
        & {
            flex-wrap: wrap;
            padding: 8% 1%;
        }
    }

    //Cada uno de los div que contiene las suscripciones
    .suscripciones {
        img {
            display: block;
            margin: auto;
            width: $sizeSuscriptImg;
        }

        //Boton de cada una de las suscripciones
        button {
            display: block;
            margin: 5% auto;
            @include boton(50%, $colorPrincipal, 1.1em);
        }
    }

    //Imagen que se muestra justo antes de suscripciones
    &:before {
        @include imagenPattern(url("../img/SuscDesignTop.svg"), -99%, 0%, bottom);
    }

    &:after {
        @include imagenPattern(url("../img/SuscDesignBottom.svg"),99%, 0%, top);
    }
}

//Partidas
#partidas {
    width: 80%;
    display: flex;
    margin: auto;
    column-gap: 5%;
    margin-bottom: 15%;
    margin-top: 15%;
    align-items: center;

    //Div con el icono de las partidas
    div:first-of-type  {
        flex-basis: 30%;
        position: relative;

        //Posicionamiento de un fondo para que vaya el botón encima
        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 20%;
            border-radius: 10px;
            background-color: $colorPrincipalOscuro;
        }
    }

    button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        @include boton (50%, $colorDestacado, 1em);
    }

    img {
        width: $sizePartidaImg;
    }

    //Div con el texto explicativo
    div:nth-of-type(2) {
        flex-basis: 60%;
        margin-top: 2%;
        flex-grow: 2;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.356);
        border-radius: 10px;

        h2 {
            margin-bottom: 3%;
        }
    }

    //Adaptación a movil
    @media screen and (max-aspect-ratio: 195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
        //Contenedor #partidas
        & {
            flex-wrap: wrap;
            padding-bottom: 10%;
        }

        div:first-of-type {
            flex-basis: 100%;
        }

        div:nth-of-type(2){
            padding-top: 5%;
        }

        h2 {
            padding-bottom: 5%;
        }
    }

    //Adaptación para tablets mediante aspect ratio
    @media screen and (max-aspect-ratio: 41/59) and (min-width: 540px), (max-aspect-ratio: 3/4) and (min-width: 540px)  {
        //Contenedor logo partidas
        div:first-of-type {
            flex-basis: 70%;;
        }
    }

    //Adaptación para móvil plegable
    @media screen and (max-width: 300px) {
        button {
            width: 60%;
        }
    }
}

//Tienda
#tienda {
    position: relative;
    @include contenedor(100%, auto, $colorSecundario);
    margin: auto;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &:before {
        @include imagenPattern(url("../img/tiendaDesignTop.svg"), -99.5%, 0%, bottom);
    }

    h2 {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 3%;
    }

    //Adaptación a movil
    @media screen and (max-aspect-ratio: 195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
        //Contenedor tienda
        .elementoTienda {
            width: 70%;
            padding: 2%;
            margin-bottom: 20%;
            margin-top: 5%;

            .id {
                left: 12%;

                &::after {
                    top: 45%;
                    //Le cambiamos el tamaño del borde para reducirlo
                    border-top: 1.1em solid $colorPrincipal;
                    border-right: 1.1em solid transparent;
                    border-bottom: 1.1em solid transparent;
                    border-left: 1.1em solid transparent;
                }
            }

        }
    }

    //Adaptación para móvil plegable
    @media screen and (max-width: 300px) {
        .elementoTienda {
            width: 100%;
        }
    }

    //Adaptación para tablets mediante aspect ratio
    @media screen and (max-aspect-ratio: 41/59) and (min-width: 540px), (max-aspect-ratio: 3/4) and (min-width: 540px) {
        //Contenedor tienda
        .elementoTienda {
            width: 40%;
            margin: 2%;
            margin-top: 7%;

            .id::after {
                top: 52%;
                border-top: 1.35em solid #0291A5;
                border-right: 1.35em solid transparent;
                border-bottom: 1.35em solid transparent;
                border-left: 1.35em solid transparent;
            }
        }
    }
}

//Cada uno de los elementos que contiene los artículos de la tienda
.elementoTienda {
    @include contenedor($sizeTienda, $sizeTienda, $colorLetra);
    position: relative;
    border-radius: 10px;

    //Div que muestra la pequeña banderita con el ID
    .id {
        @include contenedor (17%, 20%, $colorPrincipal);
        text-align: center;
        padding-top: 6%;
        font-size: 1.3em;
        font-weight: 600;
        color: $colorLetra;
        //Le ponemos position absolute para que 
        position: absolute;
        top: 0px;
        left: 10%;
        display: inline-block;
        z-index: 4;
    }

    //Elemento que crea el triangulo poniendo el elemento con width y heigh 0 y visualizando solo uno de sus bordes
    .id::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        position: relative;
        top: 58%;
        //Creo Un cubo que sólo tiene 1 borde visible y el resto transparente
        border-top: 1.5em solid $colorPrincipal;
        border-right: 1.5em solid transparent;
        border-bottom: 1.5em solid transparent;
        border-left: 1.5em solid transparent;
    }

    img {
        width: 85%;
        height: 85%;
        transform: translate(8%, 8%);
        border-radius: 10px;
    }

    button {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 50%);
        @include boton (50%, $colorPrincipal, 1em);
    }

    .descripcionCorta {
        @include contenedor(85%, $altDescriptCorta, $colorPrincipal);
        position: relative;
        border-radius: 5px;
        transform: translate(8%, -60%);
        padding: 2%;

        p {
            color: $colorLetra;

        }
    }
}

//Diseño svg
svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;

    * {
        fill: $colorSecundario;
   }

   rect {
       width: 100%;
   }

    .restar {
        fill: white;
    }
}

//Página suscripciones
#suscribirse {
    @include contenedor(100%, auto, transparent);
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;

    //Adaptación para móviles mediante aspect ratio
    @media screen and (max-aspect-ratio:  195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
        //Div contenedor #suscribirse
        & {
            flex-wrap: wrap;
        }

        #tiposSusc {
            flex-basis: 100%;

            .susc {
                width: 95%;
            }
        }

        #recibo {
            flex-basis: 100%;
            padding-bottom: 15%;
            margin-top: 5%;

            button {
                width: 50%;
            }
        }
        
    }
    //Adaptación para tablets mediante aspect ratio
    @media screen and (max-aspect-ratio: 41/59) and (min-width: 540px), (max-aspect-ratio: 3/4) and (min-width: 540px) {
        //Div contenedor #suscribirse
        & {
            flex-wrap: wrap;
        }

        #tiposSusc {
            flex-basis: 100%;

            .susc {
                width: 95%;
            }
        }

        #recibo {
            flex-basis: 100%;
            padding-bottom: 15%;
            margin-top: 5%;

            button {
                width: 50%;
            }
        }
    }
}

//Tipo de suscripciones
#tiposSusc {
    flex-basis: 40%;

    .susc {
        @include contenedor($sizeTipoSusc, auto, $colorPrincipal);
        text-align: center;
        padding: 5% 2%;
        margin: 20% 0%;
        font-size: 2em;
        position: relative;
        border-radius: 10px;
        color: whitesmoke;
        cursor: pointer;

        &:hover {
            background-color: $colorSecundario;
            border-color: $colorSecundario;
        }

        span {
            margin: 0% 2%;
            position: relative;
            top: 35%;
        }

        &:before {
            content: "";
            @include imagenPattern(url("../img/TipoSuscDesignTop.svg"), -98%, 0%, bottom);
            left: 0%;
        }

        &:after {
            content: "";
            @include imagenPattern(url("../img/TipoSuscDesignBottom.svg"), 100%, 0%, top);
            left: 0%;
        }
    }
}

//Recibo con todos los datos
#recibo {
    @include contenedor(100%, 100%, transparent);
    padding: 2%;
    flex-basis: 60%;
    border: 0.2em solid $colorPrincipal;
    border-radius: 10px;
    position: relative;
    padding-bottom: 5%;

    h2 {
        flex-basis: 100%;
        background-color: $colorSecundario;
        text-align: center;
        padding: 5%;
        font-size: 5em;
        border-radius: 10px;
        margin-bottom: 3%;
        color: $colorPrincipal;
        //Separamos un poco las letras
        word-spacing: 0.5em;
        text-transform: uppercase;
    }

    p {
        position: relative;
        font-size: 1.5em;
        margin: 3%;
    }

    p:last-of-type {
        padding-top: 2%;
        border-top: 0.2em dashed $colorPrincipal;
    }

    span {
        position: absolute;
        right: 0%;
    }

    button {
        @include boton(20%, $colorPrincipal, 1.5em);
        padding: 2%;
        margin: auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}