//Características generales
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    //Esta fuente debe estar con font-weigth 100 para permitir una buena lectura
    font-family: "PoetsenOne";
    font-weight: 100;
}

//Main
main {
    padding: 0% 10%;
    padding-bottom: 10%;
    font-family: "Resolve";
    position: relative;
}

//Presentación
#presentacion {
    @include contenedor(80%, auto, transparent);
    margin: auto;
    margin-bottom: 5%;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;

    div {
        flex-grow: 2;
    }

    h2 {
        margin-bottom: 2%;
    }

    img {
        width: $sizeLogoPresentacion;
    }
}

//Suscripciones
#suscripciones {
    //visibility: hidden;
    padding: 1%;
    padding-top: 2.5%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;

    //Cada uno de los div que contiene las suscripciones
    .suscripciones {
        img {
            display: block;
            width: $sizeSuscriptImg;
        }

        //Boton de cada una de las suscripciones
        button {
            display: block;
            margin: 5% auto;
            @include boton(50%, $colorPrincipal, 1.1em);
        }
    }
}

//Partidas
#partidas {
    width: 80%;
    display: flex;
    margin: auto;
    column-gap: 5%;
    margin-bottom: 5%;

    div:first-of-type  {
        position: relative;

        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 20%;
            border-radius: 10px;
            background-color: $colorPrincipalOscuro;
        }
    }

    button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        @include boton (50%, $colorDestacado, 1em);
    }

    img {
        width: $sizePartidaImg;
    }

    div:nth-of-type(2) {
        margin-top: 2%;
        flex-grow: 2;
        text-align: center;

        h2 {
            margin-bottom: 3%;
        }
    }
}

//Tienda
#tienda {
    @include contenedor(100%, auto, transparent);
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    h2 {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 3%;
    }
}

//Cada uno de los elementos que contiene los artículos de la tienda
.elementoTienda {
    @include contenedor($sizeTienda, $sizeTienda, $colorLetra);
    position: relative;
    border-radius: 10px;

    //Div que muestra la pequeña banderita con el ID
    .id {
        @include contenedor (15%, 20%, $colorPrincipal);
        text-align: center;
        padding-top: 6%;
        font-size: 1.3em;
        font-weight: 600;
        color: $colorLetra;
        //Le ponemos position absolute para que 
        position: absolute;
        top: 0px;
        left: 10%;
        display: inline-block;
        z-index: 4;
    }

    //Elemento que crea el triangulo poniendo el elemento con width y heigh 0 y visualizando solo uno de sus bordes
    .id::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        position: relative;
        top: 45%;
        //Creo Un cubo que sólo tiene 1 borde visible y el resto transparente
        border-top: 1.11em solid $colorPrincipal;
        border-right: 1.11em solid transparent;
        border-bottom: 1.11em solid transparent;
        border-left: 1.11em solid transparent;
    }

    img {
        width: 85%;
        height: 85%;
        transform: translate(8%, 8%);
        border-radius: 10px;
    }

    button {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 50%);
        @include boton (50%, $colorPrincipal, 1em);
    }

    .descripcionCorta {
        @include contenedor(85%, $altDescriptCorta, $colorPrincipal);
        position: relative;
        border-radius: 5px;
        transform: translate(8%, -70%);
        padding: 2%;

        p {
            color: $colorLetra;

        }
    }
}

//Diseño svg
svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;

    * {
        fill: $colorSecundario;
   }

   rect {
       width: 100%;
   }

    .restar {
        fill: white;
    }
}