$colorPrincipal: #0291A5;
$colorSecundario: #FFB775;
$colorDestacado: #FF5600;
$colorPrincipalOscuro: #026a79;
$colorLetra: #F3F3F3;

$borderHeader: 2px;

$sizeLogo: 50px;
$sizeLogoPresentacion: 200px;
$sizeSuscriptImg: 300px;
$sizePartidaImg: 300px;

$sizeTienda: 300px;
$altDescriptCorta: 60px;

$sizeRedes: 50px;
$sizeMap: 180px;