@font-face {
  font-family: "PoetsenOne";
  src: url("../font/PoetsenOne-Regular.ttf");
}
@font-face {
  font-family: "Resolve";
  src: url("../font/Resolve-Light.otf");
}
@-webkit-keyframes esconderNav {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes esconderNav {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-webkit-keyframes mostrarNav {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@keyframes mostrarNav {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
header {
  display: inline-block;
  width: 100%;
  font-size: 1.1em;
}
header > nav {
  -webkit-padding-before: 0% !important;
          padding-block-start: 0% !important;
  -webkit-padding-after: 0% !important;
          padding-block-end: 0% !important;
  position: fixed !important;
  inset-block-start: 0%;
  z-index: 5;
}

#alerta {
  width: 100%;
  height: auto;
  background-color: #0291A5;
  padding: 0.5%;
  text-align: center;
  color: #F3F3F3;
}

nav {
  width: 100%;
  height: auto;
  background-color: #FFB775;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-border-after: 2px solid white;
          border-block-end: 2px solid white;
}
nav button {
  -webkit-margin-end: 2%;
          margin-inline-end: 2%;
  -webkit-margin-start: 2%;
          margin-inline-start: 2%;
  text-transform: uppercase;
}
nav .container-fluid {
  background-color: #FFB775;
  padding: 0%;
}
@media screen and (max-width: 500px) {
  nav .container-fluid > a {
    order: 1;
  }
  nav .container-fluid button:first-of-type {
    display: block;
    font-size: 0.9rem;
  }
  nav .container-fluid button:last-of-type {
    order: 1;
    font-size: 0.9rem;
  }
  nav .container-fluid ul {
    flex-basis: 100%;
    flex-direction: column;
    order: 2;
    padding: 0%;
    -webkit-border-before: 0.1em solid #ff820f;
            border-block-start: 0.1em solid #ff820f;
  }
  nav .container-fluid li:not(li:first-of-type) {
    -webkit-border-start: none;
            border-inline-start: none;
    -webkit-border-start: 0.1em solid #ff820f;
            border-inline-start: 0.1em solid #ff820f;
  }
  nav .container-fluid button:last-of-type {
    padding: 1% 2%;
  }
}
nav button:first-of-type {
  display: block;
  background-color: #0291A5;
  border: none;
  padding: 2% 3%;
  font-size: 1em;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
nav button:first-of-type:hover {
  background-color: #03bdd7;
}
nav ul {
  height: 100%;
  flex-grow: 2;
  list-style: none;
  display: flex;
  -webkit-margin-after: 0%;
          margin-block-end: 0%;
  overflow: hidden;
  transition: inherit;
}
nav li {
  position: relative;
  text-align: center;
  width: 100%;
}
nav li:hover {
  background-color: #ff7833;
}
nav li:not(li:first-child) {
  -webkit-border-start: 2px solid #F3F3F3;
          border-inline-start: 2px solid #F3F3F3;
}
nav li a {
  color: #F3F3F3;
  text-decoration: none;
  line-height: 50px;
  display: inline-block;
  height: 100%;
  width: 100%;
}
nav li a:hover {
  color: #026a79;
}
nav img {
  width: 50px;
  margin: auto;
  padding: 5%;
}
nav button:last-of-type {
  display: block;
  background-color: #0291A5;
  border: none;
  padding: 2% 3%;
  font-size: 1em;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 0.3% 1%;
}
nav button:last-of-type:hover {
  background-color: #03bdd7;
}

.hideNav {
  height: 0%;
}

#localizacionPag {
  display: inline-block;
  -webkit-margin-before: 1%;
          margin-block-start: 1%;
  -webkit-margin-start: 2%;
          margin-inline-start: 2%;
  font-size: 0.8em;
  width: 98%;
}
#localizacionPag ul {
  width: 100%;
}
#localizacionPag li {
  display: inline;
  padding: 0 0.5%;
}
#localizacionPag a {
  color: #0291A5;
  -webkit-padding-end: 1%;
          padding-inline-end: 1%;
  text-decoration: underline;
}
#localizacionPag a:visited {
  color: #026a79;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Resolve";
}

a {
  text-decoration: none;
}

p {
  font-size: 1.1em;
  line-height: 1.3em;
  word-spacing: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PoetsenOne";
  font-weight: 100;
}

main {
  font-family: "Resolve";
  position: relative;
}

#presentacion {
  width: 80%;
  height: auto;
  background-color: transparent;
  margin: auto;
  -webkit-margin-after: 5%;
          margin-block-end: 5%;
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#presentacion div {
  flex-grow: 1;
}
#presentacion h2 {
  -webkit-margin-after: 2%;
          margin-block-end: 2%;
}
#presentacion p {
  text-align: justify;
}
#presentacion img {
  -webkit-margin-start: 5%;
          margin-inline-start: 5%;
  width: 200px;
}
@media screen and (max-aspect-ratio: 195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
  #presentacion {
    flex-wrap: wrap;
    width: 90%;
    -webkit-padding-after: 10%;
            padding-block-end: 10%;
  }
  #presentacion div {
    order: 2;
  }
  #presentacion img {
    width: 50%;
    -webkit-margin-after: 5%;
            margin-block-end: 5%;
  }
  #presentacion h2 {
    text-align: center;
    -webkit-padding-after: 3%;
            padding-block-end: 3%;
  }
}
@media screen and (max-aspect-ratio: 41/59) and (min-width: 540px), (max-aspect-ratio: 3/4) and (min-width: 540px) {
  #presentacion {
    -webkit-margin-before: 3%;
            margin-block-start: 3%;
    -webkit-margin-after: 10%;
            margin-block-end: 10%;
  }
  #presentacion img {
    width: 200px;
  }
}

#suscripciones {
  width: 100%;
  height: auto;
  background-color: #FFB775;
  padding: 3% 2%;
  -webkit-padding-before: 0%;
          padding-block-start: 0%;
  -webkit-margin-after: 5%;
          margin-block-end: 5%;
  -webkit-margin-before: 13%;
          margin-block-start: 13%;
  position: relative;
}
#suscripciones h2 {
  display: inline-block;
  width: 100%;
  padding: 1%;
  text-align: center;
  font-size: 2.5rem;
}
#suscripciones .carousel-indicators button {
  width: 15px;
  height: 15px;
  background-clip: unset;
  border-radius: 100%;
  border: 3px solid #F3F3F3;
  background-color: transparent;
}
#suscripciones .carousel-control-prev-icon, #suscripciones .carousel-control-next-icon {
  width: 4rem;
  height: 4rem;
  background-size: 70%;
  background-position: 35%;
  border: 5px solid #F3F3F3;
  border-radius: 100%;
}
#suscripciones .carousel-control-next-icon {
  background-position: 60%;
}
#suscripciones .tarjeta {
  width: 80%;
  height: 100%;
  background-color: #F3F3F3;
  margin: auto;
  border-radius: 10px;
  display: flex;
}
#suscripciones .tarjeta > img {
  border-radius: 10px 0px 0px 10px;
}
#suscripciones .contenidoTarjeta {
  width: 100%;
}
#suscripciones .contenidoTarjeta h2 {
  display: inline-block;
  width: 100%;
  padding: 1%;
  -webkit-margin-after: 2%;
          margin-block-end: 2%;
  text-align: center;
  color: #F3F3F3;
  background-color: #0291A5;
  border-radius: 0px 10px 0px 0px;
}
#suscripciones .contenidoTarjeta ul {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#suscripciones .contenidoTarjeta li {
  padding-left: 5%;
  position: relative;
  flex-basis: 50%;
  list-style: none;
}
#suscripciones .contenidoTarjeta img {
  width: 40%;
  position: absolute;
  inset-inline-end: 15%;
  inset-block-start: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
}
#suscripciones .contenidoTarjeta span {
  display: inline-block;
  position: relative;
  inset-block-start: 50%;
  transform: translateY(-50%);
  font-size: 1.1em;
  color: #0291A5;
}
#suscripciones:before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: url("../img/SuscDesignTop.svg");
  background-size: contain;
  background-position-y: bottom;
  background-repeat: no-repeat;
  position: absolute;
  inset-block-start: -99%;
  inset-inline-start: 0%;
  transform: translateY(0%);
  z-index: -1;
}
#suscripciones:after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: url("../img/SuscDesignBottom.svg");
  background-size: contain;
  background-position-y: top;
  background-repeat: no-repeat;
  position: absolute;
  inset-block-start: 99%;
  inset-inline-start: 0%;
  transform: translateY(0%);
  z-index: -1;
}
#suscripciones > button:last-of-type {
  display: block;
  background-color: #0291A5;
  border: none;
  padding: 2% 3%;
  font-size: 1.5rem;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin: 1% auto;
  -webkit-margin-after: 0%;
          margin-block-end: 0%;
  padding: 0.5% 1%;
}
#suscripciones > button:last-of-type:hover {
  background-color: #03bdd7;
}
@media screen and (max-aspect-ratio: 195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
  #suscripciones {
    -webkit-padding-after: 15%;
            padding-block-end: 15%;
    -webkit-margin-before: 28%;
            margin-block-start: 28%;
  }
  #suscripciones:before, #suscripciones:after {
    width: 98%;
  }
  #suscripciones .tarjeta {
    flex-direction: column;
    width: 70%;
  }
  #suscripciones .tarjeta > img {
    order: 2;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
  }
  #suscripciones .contenidoTarjeta h2 {
    -webkit-margin-before: 0%;
            margin-block-start: 0%;
    border-radius: 10px 10px 0px 0px;
  }
  #suscripciones .contenidoTarjeta ul {
    display: none;
  }
}
@media screen and (max-width: 300px) {
  #suscripciones {
    -webkit-margin-before: 35%;
            margin-block-start: 35%;
  }
  #suscripciones h2 {
    font-size: 1.5em;
  }
  #suscripciones .carousel-control-prev-icon, #suscripciones .carousel-control-next-icon {
    height: 3rem;
  }
}
@media screen and (max-aspect-ratio: 41/59) and (min-width: 540px), (max-aspect-ratio: 3/4) and (min-width: 540px) {
  #suscripciones {
    -webkit-padding-after: 7%;
            padding-block-end: 7%;
    -webkit-margin-before: 20%;
            margin-block-start: 20%;
  }
  #suscripciones:before, #suscripciones:after {
    width: 98%;
  }
  #suscripciones .tarjeta {
    width: 70%;
    flex-direction: column;
  }
  #suscripciones .tarjeta > img {
    order: 2;
    border-radius: 0px 0px 10px 10px;
  }
  #suscripciones .contenidoTarjeta h2 {
    -webkit-margin-after: 0%;
            margin-block-end: 0%;
    border-radius: 10px 10px 0px 0px;
  }
  #suscripciones .contenidoTarjeta ul {
    display: none;
  }
}

#partidas {
  width: 80%;
  align-items: center;
  display: flex;
  -moz-column-gap: 5%;
       column-gap: 5%;
  margin: 15% auto;
}
#partidas div:first-of-type {
  flex-basis: 30%;
  position: relative;
}
#partidas div:first-of-type::after {
  content: "";
  display: inline-block;
  width: 70%;
  height: 20%;
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #026a79;
}
#partidas button {
  display: block;
  background-color: #FF5600;
  border: none;
  padding: 2% 3%;
  font-size: 1.5rem;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
#partidas button:hover {
  background-color: #ff7833;
}
#partidas img {
  width: 100%;
}
#partidas div:nth-of-type(2) {
  margin-top: 2%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.356);
  border-radius: 10px;
  flex-basis: 60%;
  flex-grow: 2;
}
#partidas div:nth-of-type(2) h2 {
  margin-bottom: 3%;
  font-size: 2.5rem;
}
@media screen and (max-aspect-ratio: 195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
  #partidas {
    flex-wrap: wrap;
    -webkit-padding-after: 10%;
            padding-block-end: 10%;
  }
  #partidas div:first-of-type {
    flex-basis: 100%;
  }
  #partidas div:nth-of-type(2) {
    -webkit-padding-before: 5%;
            padding-block-start: 5%;
  }
  #partidas h2 {
    -webkit-padding-after: 5%;
            padding-block-end: 5%;
  }
  #partidas button {
    font-size: 1.2rem;
  }
}
@media screen and (max-aspect-ratio: 41/59) and (min-width: 540px), (max-aspect-ratio: 3/4) and (min-width: 540px) {
  #partidas div:first-of-type {
    flex-basis: 70%;
  }
  #partidas button {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 300px) {
  #partidas button {
    width: 60%;
    font-size: 1rem;
  }
}

#tienda {
  width: 100%;
  height: auto;
  background-color: #FFB775;
  margin: auto;
  -webkit-padding-after: 10%;
          padding-block-end: 10%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#tienda:before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: url("../img/tiendaDesignTop.svg");
  background-size: contain;
  background-position-y: bottom;
  background-repeat: no-repeat;
  position: absolute;
  inset-block-start: -99.5%;
  inset-inline-start: 0%;
  transform: translateY(0%);
  z-index: -1;
}
#tienda h2 {
  text-align: center;
  margin: 3% 0%;
  flex-basis: 100%;
  font-size: 2.5rem;
}
@media screen and (max-aspect-ratio: 195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
  #tienda:before {
    width: 98%;
  }
  #tienda .elementoTienda {
    width: 70%;
    padding: 4%;
    -webkit-margin-before: 5%;
            margin-block-start: 5%;
  }
  #tienda .elementoTienda .id {
    left: 12%;
  }
  #tienda .elementoTienda .id::after {
    top: 45%;
    -webkit-border-before: 1.1em solid #0291A5;
            border-block-start: 1.1em solid #0291A5;
    -webkit-border-end: 1.1em solid transparent;
            border-inline-end: 1.1em solid transparent;
    -webkit-border-after: 1.1em solid transparent;
            border-block-end: 1.1em solid transparent;
    -webkit-border-start: 1.1em solid transparent;
            border-inline-start: 1.1em solid transparent;
  }
}
@media screen and (max-width: 300px) {
  #tienda .elementoTienda {
    width: 100%;
  }
}
@media screen and (max-aspect-ratio: 41/59) and (min-width: 540px), (max-aspect-ratio: 3/4) and (min-width: 540px) {
  #tienda .elementoTienda {
    width: 40%;
    padding: 2.5%;
    margin: 2%;
    -webkit-margin-before: 5%;
            margin-block-start: 5%;
  }
  #tienda .elementoTienda .id::after {
    inset-block-start: 52%;
    -webkit-border-before: 1.35em solid #0291A5;
            border-block-start: 1.35em solid #0291A5;
    -webkit-border-end: 1.35em solid transparent;
            border-inline-end: 1.35em solid transparent;
    -webkit-border-after: 1.35em solid transparent;
            border-block-end: 1.35em solid transparent;
    -webkit-border-start: 1.35em solid transparent;
            border-inline-start: 1.35em solid transparent;
  }
  #tienda .elementoTienda button {
    font-size: 2rem;
  }
}

.elementoTienda {
  width: 20%;
}
.elementoTienda > div {
  width: 100%;
  height: auto;
  background-color: #F3F3F3;
  position: relative;
  border-radius: 10px;
  padding: 4%;
}
.elementoTienda .id {
  position: absolute;
  inset-block-start: 0px;
  inset-inline-start: 10%;
  display: inline-block;
  z-index: 4;
}
.elementoTienda .id div {
  width: 50px;
  height: 50px;
  background-color: #0291A5;
  -webkit-padding-before: 25%;
          padding-block-start: 25%;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  color: #F3F3F3;
}
.elementoTienda .id span {
  display: inline-block;
  width: 0;
  height: 0;
  -webkit-border-before: 25px solid #0291A5;
          border-block-start: 25px solid #0291A5;
  -webkit-border-end: 25px solid transparent;
          border-inline-end: 25px solid transparent;
  -webkit-border-after: 25px solid transparent;
          border-block-end: 25px solid transparent;
  -webkit-border-start: 25px solid transparent;
          border-inline-start: 25px solid transparent;
}
.elementoTienda img {
  width: 100%;
  border-radius: 10px;
}
.elementoTienda button {
  display: block;
  background-color: #0291A5;
  border: none;
  padding: 2% 3%;
  font-size: 1.5em;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin: 2% auto;
}
.elementoTienda button:hover {
  background-color: #03bdd7;
}
.elementoTienda .descripcionCorta {
  width: 92%;
  height: 80px;
  background-color: #0291A5;
  position: absolute;
  inset-block-end: 3.5%;
  border-radius: 0px 0px 10px 10px;
  padding: 2%;
}
.elementoTienda .descripcionCorta p {
  color: #F3F3F3;
}

#suscribirse {
  width: 100%;
  height: auto;
  background-color: transparent;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-aspect-ratio: 195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
  #suscribirse {
    flex-wrap: wrap;
  }
  #suscribirse #tiposSusc {
    flex-basis: 100%;
  }
  #suscribirse #tiposSusc .susc {
    width: 95%;
  }
  #suscribirse #recibo {
    flex-basis: 100%;
    -webkit-padding-after: 15%;
            padding-block-end: 15%;
    -webkit-margin-before: 5%;
            margin-block-start: 5%;
  }
  #suscribirse #recibo button {
    width: 50%;
  }
}
@media screen and (max-aspect-ratio: 41/59) and (min-width: 540px), (max-aspect-ratio: 3/4) and (min-width: 540px) {
  #suscribirse {
    flex-wrap: wrap;
  }
  #suscribirse #tiposSusc {
    flex-basis: 100%;
  }
  #suscribirse #tiposSusc .susc {
    width: 95%;
  }
  #suscribirse #recibo {
    flex-basis: 100%;
    -webkit-padding-after: 15%;
            padding-block-end: 15%;
    -webkit-margin-before: 5%;
            margin-block-start: 5%;
  }
  #suscribirse #recibo button {
    width: 50%;
  }
}

#tiposSusc {
  flex-basis: 40%;
}
#tiposSusc .susc {
  width: 80%;
  height: auto;
  background-color: #0291A5;
  text-align: center;
  padding: 5% 2%;
  margin: 20% 0%;
  font-size: 2em;
  position: relative;
  border-radius: 10px;
  color: whitesmoke;
  cursor: pointer;
}
#tiposSusc .susc:hover {
  background-color: #FFB775;
  border-color: #FFB775;
}
#tiposSusc .susc span {
  margin: 0% 2%;
  position: relative;
  inset-block-start: 35%;
}
#tiposSusc .susc:before {
  content: "";
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: url("../img/TipoSuscDesignTop.svg");
  background-size: contain;
  background-position-y: bottom;
  background-repeat: no-repeat;
  position: absolute;
  inset-block-start: -98%;
  inset-inline-start: 0%;
  transform: translateY(0%);
  z-index: -1;
  inset-inline-start: 0%;
}
#tiposSusc .susc:after {
  content: "";
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: url("../img/TipoSuscDesignBottom.svg");
  background-size: contain;
  background-position-y: top;
  background-repeat: no-repeat;
  position: absolute;
  inset-block-start: 100%;
  inset-inline-start: 0%;
  transform: translateY(0%);
  z-index: -1;
  inset-inline-start: 0%;
}

#recibo {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 2%;
  flex-basis: 60%;
  border: 0.2em solid #0291A5;
  border-radius: 10px;
  position: relative;
  -webkit-padding-after: 5%;
          padding-block-end: 5%;
}
#recibo h2 {
  flex-basis: 100%;
  background-color: #FFB775;
  text-align: center;
  padding: 5%;
  font-size: 5em;
  border-radius: 10px;
  -webkit-margin-after: 3%;
          margin-block-end: 3%;
  color: #0291A5;
  word-spacing: 0.5em;
  text-transform: uppercase;
}
#recibo p {
  position: relative;
  font-size: 1.5em;
  margin: 3%;
}
#recibo p:last-of-type {
  -webkit-padding-before: 2%;
          padding-block-start: 2%;
  -webkit-border-before: 0.2em dashed #0291A5;
          border-block-start: 0.2em dashed #0291A5;
}
#recibo span {
  position: absolute;
  inset-inline-end: 0%;
}
#recibo button {
  display: block;
  background-color: #0291A5;
  border: none;
  padding: 2% 3%;
  font-size: 1.5em;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 2%;
  margin: auto;
  position: absolute;
  inset-inline-start: 50%;
  transform: translateX(-50%);
}
#recibo button:hover {
  background-color: #03bdd7;
}

footer {
  width: 100%;
  height: auto;
  background-color: #0291A5;
  padding: 1% 5%;
  display: flex;
  justify-content: center;
  -moz-column-gap: 2%;
       column-gap: 2%;
  align-items: center;
  font-variant: small-caps;
  text-transform: lowercase;
}
footer li:first-of-type a {
  font-size: 1.3em;
}
footer li:first-of-type {
  margin-bottom: 5%;
}
footer a {
  color: #F3F3F3;
  font-size: 1.1em;
  text-decoration: none;
}
footer a:hover {
  color: #FFB775;
}
@media screen and (max-aspect-ratio: 195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
  footer {
    flex-wrap: wrap;
  }
  footer #infoPag {
    padding: 2%;
    margin: 3% 0%;
    flex-basis: 100%;
    text-align: center;
  }
  footer #redes {
    flex-basis: 100%;
    margin-top: 3%;
    margin-bottom: 6%;
  }
  footer #localizacion {
    margin: 3% 0%;
  }
  footer #localizacion h4, footer #localizacion a {
    margin-bottom: 3%;
  }
}
@media screen and (max-aspect-ratio: 41/59) and (min-width: 540px), (max-aspect-ratio: 3/4) and (min-width: 540px) {
  footer {
    flex-wrap: wrap;
    align-items: center;
    padding-top: 3%;
  }
  footer #infoPag {
    flex-basis: 50%;
    order: 2;
  }
  footer #redes {
    order: 2;
  }
  footer #localizacion {
    flex-basis: 100%;
    margin: 4% 0%;
  }
}

#redes {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  -moz-column-gap: 10%;
       column-gap: 10%;
  margin-right: 5%;
}
#redes img {
  width: 50px;
}

#infoPag {
  flex-basis: 30%;
}
#infoPag li:first-of-type {
  margin-bottom: 3%;
}
#infoPag li {
  list-style: none;
  margin: 2%;
}

#localizacion {
  color: #F3F3F3;
}
#localizacion h4 {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-bottom: 2%;
}
#localizacion a {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-bottom: 2%;
}

#map {
  width: 100%;
  height: 150px;
}/*# sourceMappingURL=styles.css.map */