@font-face {
  font-family: "PoetsenOne";
  src: url("../font/PoetsenOne-Regular.ttf");
}
@font-face {
  font-family: "Resolve";
  src: url("../font/Resolve-Light.otf");
}
header {
  font-size: 1.3em;
  font-weight: 900;
}
@media screen and (max-aspect-ratio: 195/422), (max-aspect-ratio: 375/667) {
  header {
    font-size: 0.9em;
    word-break: break-all;
  }
}
header nav {
  cursor: pointer;
}

#alerta {
  width: 100%;
  height: auto;
  background-color: #0291A5;
  padding: 0.5%;
  text-align: center;
  color: #F3F3F3;
}

nav {
  width: 100%;
  height: auto;
  background-color: #FFB775;
  padding: 0% 2%;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
nav li {
  position: relative;
  text-align: center;
  width: 100%;
}
nav li:not(li:first-of-type):hover {
  background-color: #ff7833;
}
nav li:not(li:first-child) {
  border-left: 2px solid #F3F3F3;
}
nav a {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  color: #F3F3F3;
}
nav img {
  width: 50px;
  margin: auto;
}

#localizacionPag {
  display: inline-block;
  margin-top: 1%;
  margin-left: 2%;
  font-size: 0.8em;
  width: 98%;
}
#localizacionPag ul {
  width: 100%;
}
#localizacionPag li {
  display: inline;
  padding: 0 0.5%;
}
#localizacionPag a {
  color: #0291A5;
  padding-right: 1%;
  text-decoration: underline;
}
#localizacionPag a:visited {
  color: #026a79;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Resolve";
}

a {
  text-decoration: none;
}

p {
  font-size: 1.1em;
  line-height: 1.3em;
  word-spacing: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PoetsenOne";
  font-weight: 100;
}

main {
  font-family: "Resolve";
  position: relative;
}

#presentacion {
  width: 80%;
  height: auto;
  background-color: transparent;
  margin: auto;
  margin-bottom: 5%;
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#presentacion div {
  flex-grow: 1;
}
#presentacion h2 {
  margin-bottom: 2%;
}
#presentacion p {
  text-align: justify;
}
#presentacion img {
  margin-left: 5%;
  width: 45%;
}
@media screen and (max-aspect-ratio: 195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
  #presentacion {
    flex-wrap: wrap;
    width: 90%;
    padding-bottom: 10%;
  }
  #presentacion div {
    order: 2;
  }
  #presentacion img {
    width: 50%;
    margin-bottom: 5%;
  }
  #presentacion h2 {
    text-align: center;
    padding-bottom: 3%;
  }
}
@media screen and (max-aspect-ratio: 41/59) and (min-width: 540px), (max-aspect-ratio: 3/4) and (min-width: 540px) {
  #presentacion {
    margin-top: 3%;
    margin-bottom: 10%;
  }
  #presentacion img {
    width: 200px;
  }
}

#suscripciones {
  width: 100%;
  height: auto;
  background-color: #FFB775;
  padding: 3% 2%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
  position: relative;
}
@media screen and (max-aspect-ratio: 195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
  #suscripciones {
    flex-wrap: wrap;
    padding: 8% 1%;
  }
}
#suscripciones .suscripciones img {
  display: block;
  margin: auto;
  width: 60%;
}
#suscripciones .suscripciones button {
  display: block;
  margin: 5% auto;
  padding: 3% 4%;
  width: 50%;
  background-color: #0291A5;
  border: 0px;
  font-size: 1.1em;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
#suscripciones .suscripciones button:hover {
  background-color: #03bdd7;
}
#suscripciones:before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: url("../img/SuscDesignTop.svg");
  background-size: contain;
  background-position-y: bottom;
  background-repeat: no-repeat;
  position: absolute;
  top: -99%;
  transform: translateY(0%);
  z-index: -1;
}
#suscripciones:after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: url("../img/SuscDesignBottom.svg");
  background-size: contain;
  background-position-y: top;
  background-repeat: no-repeat;
  position: absolute;
  top: 99%;
  transform: translateY(0%);
  z-index: -1;
}

#partidas {
  width: 80%;
  display: flex;
  margin: auto;
  -moz-column-gap: 5%;
       column-gap: 5%;
  margin-bottom: 15%;
  margin-top: 15%;
  align-items: center;
}
#partidas div:first-of-type {
  flex-basis: 30%;
  position: relative;
}
#partidas div:first-of-type::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 20%;
  border-radius: 10px;
  background-color: #026a79;
}
#partidas button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  padding: 3% 4%;
  width: 50%;
  background-color: #FF5600;
  border: 0px;
  font-size: 1em;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
#partidas button:hover {
  background-color: #ff7833;
}
#partidas img {
  width: 100%;
}
#partidas div:nth-of-type(2) {
  flex-basis: 60%;
  margin-top: 2%;
  flex-grow: 2;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.356);
  border-radius: 10px;
}
#partidas div:nth-of-type(2) h2 {
  margin-bottom: 3%;
}
@media screen and (max-aspect-ratio: 195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
  #partidas {
    flex-wrap: wrap;
    padding-bottom: 10%;
  }
  #partidas div:first-of-type {
    flex-basis: 100%;
  }
  #partidas div:nth-of-type(2) {
    padding-top: 5%;
  }
  #partidas h2 {
    padding-bottom: 5%;
  }
}
@media screen and (max-aspect-ratio: 41/59) and (min-width: 540px), (max-aspect-ratio: 3/4) and (min-width: 540px) {
  #partidas div:first-of-type {
    flex-basis: 70%;
  }
}
@media screen and (max-width: 300px) {
  #partidas button {
    width: 60%;
  }
}

#tienda {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #FFB775;
  margin: auto;
  padding-bottom: 10%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#tienda:before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: url("../img/tiendaDesignTop.svg");
  background-size: contain;
  background-position-y: bottom;
  background-repeat: no-repeat;
  position: absolute;
  top: -99.5%;
  transform: translateY(0%);
  z-index: -1;
}
#tienda h2 {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 3%;
}
@media screen and (max-aspect-ratio: 195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
  #tienda .elementoTienda {
    width: 70%;
    padding: 2%;
    margin-bottom: 20%;
    margin-top: 5%;
  }
  #tienda .elementoTienda .id {
    left: 12%;
  }
  #tienda .elementoTienda .id::after {
    top: 45%;
    border-top: 1.1em solid #0291A5;
    border-right: 1.1em solid transparent;
    border-bottom: 1.1em solid transparent;
    border-left: 1.1em solid transparent;
  }
}
@media screen and (max-width: 300px) {
  #tienda .elementoTienda {
    width: 100%;
  }
}
@media screen and (max-aspect-ratio: 41/59) and (min-width: 540px), (max-aspect-ratio: 3/4) and (min-width: 540px) {
  #tienda .elementoTienda {
    width: 40%;
    margin: 2%;
    margin-top: 7%;
  }
  #tienda .elementoTienda .id::after {
    top: 52%;
    border-top: 1.35em solid #0291A5;
    border-right: 1.35em solid transparent;
    border-bottom: 1.35em solid transparent;
    border-left: 1.35em solid transparent;
  }
}

.elementoTienda {
  width: 20%;
  height: 20%;
  background-color: #F3F3F3;
  position: relative;
  border-radius: 10px;
}
.elementoTienda .id {
  width: 17%;
  height: 20%;
  background-color: #0291A5;
  text-align: center;
  padding-top: 6%;
  font-size: 1.3em;
  font-weight: 600;
  color: #F3F3F3;
  position: absolute;
  top: 0px;
  left: 10%;
  display: inline-block;
  z-index: 4;
}
.elementoTienda .id::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  position: relative;
  top: 58%;
  border-top: 1.5em solid #0291A5;
  border-right: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1.5em solid transparent;
}
.elementoTienda img {
  width: 85%;
  height: 85%;
  transform: translate(8%, 8%);
  border-radius: 10px;
}
.elementoTienda button {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 3% 4%;
  width: 50%;
  background-color: #0291A5;
  border: 0px;
  font-size: 1em;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.elementoTienda button:hover {
  background-color: #03bdd7;
}
.elementoTienda .descripcionCorta {
  width: 85%;
  height: 60px;
  background-color: #0291A5;
  position: relative;
  border-radius: 5px;
  transform: translate(8%, -60%);
  padding: 2%;
}
.elementoTienda .descripcionCorta p {
  color: #F3F3F3;
}

svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
}
svg * {
  fill: #FFB775;
}
svg rect {
  width: 100%;
}
svg .restar {
  fill: white;
}

#suscribirse {
  width: 100%;
  height: auto;
  background-color: transparent;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-aspect-ratio: 195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
  #suscribirse {
    flex-wrap: wrap;
  }
  #suscribirse #tiposSusc {
    flex-basis: 100%;
  }
  #suscribirse #tiposSusc .susc {
    width: 95%;
  }
  #suscribirse #recibo {
    flex-basis: 100%;
    padding-bottom: 15%;
    margin-top: 5%;
  }
  #suscribirse #recibo button {
    width: 50%;
  }
}
@media screen and (max-aspect-ratio: 41/59) and (min-width: 540px), (max-aspect-ratio: 3/4) and (min-width: 540px) {
  #suscribirse {
    flex-wrap: wrap;
  }
  #suscribirse #tiposSusc {
    flex-basis: 100%;
  }
  #suscribirse #tiposSusc .susc {
    width: 95%;
  }
  #suscribirse #recibo {
    flex-basis: 100%;
    padding-bottom: 15%;
    margin-top: 5%;
  }
  #suscribirse #recibo button {
    width: 50%;
  }
}

#tiposSusc {
  flex-basis: 40%;
}
#tiposSusc .susc {
  width: 80%;
  height: auto;
  background-color: #0291A5;
  text-align: center;
  padding: 5% 2%;
  margin: 20% 0%;
  font-size: 2em;
  position: relative;
  border-radius: 10px;
  color: whitesmoke;
  cursor: pointer;
}
#tiposSusc .susc:hover {
  background-color: #FFB775;
  border-color: #FFB775;
}
#tiposSusc .susc span {
  margin: 0% 2%;
  position: relative;
  top: 35%;
}
#tiposSusc .susc:before {
  content: "";
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: url("../img/TipoSuscDesignTop.svg");
  background-size: contain;
  background-position-y: bottom;
  background-repeat: no-repeat;
  position: absolute;
  top: -98%;
  transform: translateY(0%);
  z-index: -1;
  left: 0%;
}
#tiposSusc .susc:after {
  content: "";
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: url("../img/TipoSuscDesignBottom.svg");
  background-size: contain;
  background-position-y: top;
  background-repeat: no-repeat;
  position: absolute;
  top: 100%;
  transform: translateY(0%);
  z-index: -1;
  left: 0%;
}

#recibo {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 2%;
  flex-basis: 60%;
  border: 0.2em solid #0291A5;
  border-radius: 10px;
  position: relative;
  padding-bottom: 5%;
}
#recibo h2 {
  flex-basis: 100%;
  background-color: #FFB775;
  text-align: center;
  padding: 5%;
  font-size: 5em;
  border-radius: 10px;
  margin-bottom: 3%;
  color: #0291A5;
  word-spacing: 0.5em;
  text-transform: uppercase;
}
#recibo p {
  position: relative;
  font-size: 1.5em;
  margin: 3%;
}
#recibo p:last-of-type {
  padding-top: 2%;
  border-top: 0.2em dashed #0291A5;
}
#recibo span {
  position: absolute;
  right: 0%;
}
#recibo button {
  padding: 3% 4%;
  width: 20%;
  background-color: #0291A5;
  border: 0px;
  font-size: 1.5em;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 2%;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#recibo button:hover {
  background-color: #03bdd7;
}

footer {
  width: 100%;
  height: auto;
  background-color: #0291A5;
  padding: 1% 5%;
  display: flex;
  justify-content: center;
  -moz-column-gap: 2%;
       column-gap: 2%;
  align-items: center;
}
footer li:first-of-type a {
  font-size: 1.3em;
}
footer li:first-of-type {
  margin-bottom: 5%;
}
footer a {
  color: #F3F3F3;
  font-size: 1.1em;
}
@media screen and (max-aspect-ratio: 195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
  footer {
    flex-wrap: wrap;
  }
  footer #infoPag {
    padding: 2%;
    margin: 3% 0%;
    flex-basis: 100%;
    text-align: center;
  }
  footer #redes {
    flex-basis: 100%;
    margin-top: 3%;
    margin-bottom: 6%;
  }
  footer #localizacion {
    margin: 3% 0%;
  }
  footer #localizacion h4, footer #localizacion a {
    margin-bottom: 3%;
  }
}
@media screen and (max-aspect-ratio: 41/59) and (min-width: 540px), (max-aspect-ratio: 3/4) and (min-width: 540px) {
  footer {
    flex-wrap: wrap;
    align-items: center;
    padding-top: 3%;
  }
  footer #infoPag {
    flex-basis: 50%;
    order: 2;
  }
  footer #redes {
    order: 2;
  }
  footer #localizacion {
    flex-basis: 100%;
    margin: 4% 0%;
  }
}

#redes {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  -moz-column-gap: 10%;
       column-gap: 10%;
  margin-right: 5%;
}
#redes img {
  width: 50px;
}

#infoPag {
  flex-basis: 30%;
}
#infoPag li:first-of-type {
  margin-bottom: 3%;
}
#infoPag li {
  list-style: none;
  margin: 2%;
}

#localizacion {
  color: #F3F3F3;
}
#localizacion h4 {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-bottom: 2%;
}
#localizacion a {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-bottom: 2%;
}

#map {
  width: 100%;
  height: 150px;
}/*# sourceMappingURL=styles.css.map */