
#panelAdmin {
    padding-block-start: 2%;

   & > div:first-of-type {
        width: 90%;
        margin: auto;
        border-radius: $borderRadius $borderRadius 0px 0px;
        //Flex como padre
        display: flex;
        justify-content: space-between;

        ul {
            padding: 0%;
            //Margin bottom
            margin-block-end: 0%;
            //Estilo
            //Flex como padre
            display: flex;
            justify-content: space-around;
            //Flex como hijo
            flex-basis: 70%;
            flex-grow: 2;
    
            li {
                @include contenedor(100%, 100%, transparent);
                list-style: none;
                //Padding-top
                padding-block-start: 1%;

                a {
                    display: inline-block;
                    @include contenedor(100%, 100%, transparent);
                    padding: 4%;
                    font-size: 1.3em;
                    text-align: center;
                    color: $colorPrincipal;

                    &:hover {
                        border: 1px solid $colorPrincipal;
                        //Border bottom
                        border-block-end: 0px;
                        border-radius: $borderRadius $borderRadius 0px 0px;
                    }
                }

                .listaActivo {
                    background-color: $colorPrincipal;
                    color: $colorLetra;
                    border: 1px solid transparent;
                    border-color: $colorPrincipal $colorPrincipal transparent;
                    border-radius: $borderRadius $borderRadius 0px 0px;
                    z-index: 2;

                    &:hover {
                        background-color: aclararColor($colorPrincipal);
                    }
                }
            }
        }

        // Botón hamburguesa
        button {
            background-image: url("../img/iconos/menuHamburguesa.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: 50%;
            @include boton($colorPrincipal, 1em);
            padding: 0% 2.5%;
        }

        //Enlace para abrir y cerrar los filtros en Ipad y móvil
        & > a {
            //Border bottom
            border-block-end: 1px solid aclararColor($colorPrincipal);
            display: none;
        }
    }

    //Formulario con el panel a administrar
    #formPanelAdmin {
        @include contenedor(90%, auto, $colorLetra);
        margin: auto;
        padding: 2%;
        //Estilo
        font-size: 1.2em;
        border-radius: 0px 0px $borderRadius $borderRadius;
        border: 1px solid $colorSecundario;
        //Flex como padre
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        //Párrafo donde se muestra el mensaje de éxito o error
        p {
            flex-basis: 100%;
            text-align: center;
        }

        //Titulo sección
        h2 {
            padding: 1% 0%;
            flex-basis: 100%;
            text-align: center;
        }


        label, .contenedorInput, .inputDesplegable {
            flex-basis: calc(100%/2);
        }

        & > .contenedorInput {
            input, select {
                width: 100%;
                padding: 2%;
            }
        }

        .inputDesplegable {
            position: relative;

            input {
                @include inputFormulario();
                width: 100%;
                margin: 0%;
                padding: 2%;
            }

            ul {
                position: absolute;
                background-color: white;
                padding: 0px;
                width: 100%;
                border: 1px solid $colorPrincipal;

                li {
                    padding: 1%;
                    list-style: none;

                    &:hover {
                        background-color: aclararColor($colorPrincipal);
                    }
                }
            }
        }

        input, select {
            @include inputFormulario();
        }

        input[type="submit"], button {
            @include boton($colorPrincipal, 1.5rem);
            //margin top
            margin-block-start: 3%;
             //Margin bottom
            margin-block-end: 0%;
            margin: 0% 2%;
            padding: 0.5%;
            //Flex como hijo
            flex-basis: 20%;
        }
    }

    #filtradoPartida {
        input[type='submit'] {
            @include boton ($colorPrincipal, 1.2em);
            padding: 0% 0.5%
        }
    }

    //Contenedor con todas las cajas a mostrar
    #contenedorElementos {
        @include contenedor(90%, auto, $colorLetra);
        margin: auto;
        //Margin bottom
        margin-block-end: 6%;
        padding: 2%;
        //Estilo
        font-size: 1.2em;
        border-radius: 0px 0px $borderRadius $borderRadius;
        border: 1px solid $colorPrincipal;
        position: relative;

         //Div de los botones
        & > div {
            //Margin top
            margin-block-end: 1%;
            //Flex como padre
            display: flex;
            justify-content: center;

            button {
                margin: 0;
                padding: 1%;
            }

            //Le ponemos a los botones el radio para que parezcan uno sólo
            button:first-of-type {
                border-radius: $borderRadius 0px 0px $borderRadius;
            }

            button:nth-of-type(2){
                border-radius: 0px $borderRadius $borderRadius 0px;
            }

            //Clase para poner un fondo gris al elemento y un poco de sombra para que se diferencia bin
            .noActivo {
                @include botonNoActivo();
            }
        }


        form {
            margin-block-end: 3%;
            //Flex como padre
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            label, input {
                text-align: center;
            }
        }

        .historial {
            overflow-x: scroll;
            table-layout: fixed;

            th:first-of-type {
                width: 150px;
            }

            th:nth-of-type(2) {
                width: 70%;
            }

            tbody {
                td:nth-of-type(2) {
                    text-align: left;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden
                }

            }
        }

        #listaElementos {
            @include contenedor(100%, 100%, transparent);
            text-align: center;

            #noElementos {
                padding: 3% 0%;
            }
        }
        // listaFiltros tiene el mismo estilo que listaElementos, a menos que se cambie en un futuro
        #filtroUsuarios{
            @include contenedor(100%, 100%, transparent);
            text-align: center;

            #filtrarUsuariosAdmin {
                padding: 5%;
            }
        }


        thead {
            //Border bottom
            border-block-end: 1px solid $colorPrincipal;

            th {
                color: $colorPrincipal;
                //Margin bottom
                padding-block-end: 1%;

                //Botón para crear partidas
                button {
                    @include boton($colorPrincipal, 1.3rem);
                    padding: 0.5%;
                    margin: auto;
                }
            }
        }

        tbody {
            td {
                padding: 0.3% 0%;
            }

            //Renglón cuando no se encuentran elementos
            td[colspan="7"]{
                padding: 3%;
                font-size: 1.2em;
            }

            tr:not(tr:last-of-type) {
                //borer bottom
                border-block-end: 1px solid oscurecerColor($colorLetra);
            }

            button {
                @include boton($colorPrincipal, 1em);
                margin: auto;
            }
        }
    }

    //Adaptación para móvil
    @media screen and (max-aspect-ratio: 195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
        & {

            & > div:first-of-type {
                flex-wrap: wrap;
                width: 100%;
                background-color: $colorPrincipal;

                a {
                    display: inline-block;
                }

                ul {
                    flex-basis: 100%;
                    flex-wrap: wrap;


                    li {
                        border: 0px;
                        border-radius: 0px;
                        flex-basis: 100%;
                        padding-block-start: 0%;
                        width: auto;
                        height: auto; 

                        .listaActivo {
                            border-radius: 0px;
                            background-color: $colorSecundario;

                            &:hover {
                                border-radius: 0px;
                            }

                        }

                        a {
                            color: $colorLetra;

                            &:hover {
                                border-radius: 0px;
                                background-color: aclararColor($colorPrincipal);
                            }
                        }
                    }
                }


                & > a {                  
                    //Tamaños y posicionamiento
                    width: 100%;
                    padding: 1%;
                    font-size: 1.5em;
                    //Estilo
                    color: $colorLetra;
                    text-align: center;
                    transition: all 0.5s ease-in-out;

                    &:hover {
                        border-radius: $borderRadius $borderRadius 0px 0px;
                        background-color: $colorSecundario;
                    }
                }
            }


            #contenedorElementos {
                width: 100%;

                //Botón para crear partidas
                & > button {
                    font-size: 1.3rem;
                    position: relative;
                    padding: 1% 3%;
                    //Left
                    inset-inline-start: 50%;
                    transform: translateX(-50%);
                    //Margin-bottom
                    margin-block-end: 2%;
                }

                form {
                    label, input, select {
                        flex-basis: 100%;
                    }
                }
                
                #listaElementos {
                    flex-wrap: wrap;
                }
            }

            th:first-of-type ,td:first-of-type, td:last-of-type, td:nth-of-type(3), th:nth-of-type(3), td:nth-of-type(5), th:nth-of-type(5) {
                display: none;
            }

            
            //Formulario con el panel a administrar
            #formPanelAdmin {
                width: 100%;

               label, input, select {
                    flex-basis: 100%;
               }

               button, input[type="submit"] {
                   margin-block-start: 2%;
               }
            }
        }
    }

     //Adaptación para tablet
     @media screen and (max-aspect-ratio: 41/59) and (min-width: 540px), (max-aspect-ratio: 3/4) and (min-width: 540px), (aspect-ratio: 4/3) and (min-width: 540px), (aspect-ratio: 1/1) and (min-width: 540px)  {
         & {
            height: 75vh;

            & > div:first-of-type {
                width: 90%;

                & > a {
                    display: none;
                }
            }

            #formPanelAdmin {
                height: 80%;
            }

            //Contenedor con todas las cajas a mostrar
            #contenedorElementos {
                width: 100%;

                //Botón para crear partidas
                & > button {
                    font-size: 1.1rem;
                    position: absolute;
                    padding: 0.5%;
                    //Right
                    inset-inline-end: 2%;
                    transform: translateY(3%);
                    //Margin-bottom
                    margin-block-end: 2%;
                }

                form {
                    align-items: center;
                }

                input {
                    flex-basis: calc(30%);
                }

                label {
                    flex-basis: calc(20%);
                    margin-block-start: 2%;
                }

                thead th {
                    font-size: 1.2em;
                }

                tbody th {
                    margin-block-start: 5%;
                }
            }
         }
    }
}

//Div con los botones para alternar entre partidas y reservas
#contenedorBotones {
    //Margin bottom
    margin-block-end: 2%;
    //Flex como padre
    display: flex;
    justify-content: center;

    button {
        @include boton($colorPrincipal, 1.1em);
        display: inline-block;
        padding: 1%;

        &:first-of-type {
            border-radius: $borderRadius 0px 0px $borderRadius;
        }

        &:last-of-type {
            border-radius: 0px $borderRadius $borderRadius 0px;
        }
    }

    .noActivo {
        @include botonNoActivo();
    }
}
