#info_partidas, #filtro, #result_panel, .pagination {
    padding: 3%;
}

#filtro {
  // Dado que los dropdowns vienen de un script externo modificaremos
  // su tamaño sobreescribiendo el valor
    .multiselect-dropdown {
      width: 100% !important;
      font-size: small;
  }
}

.list-group {
  max-height: 300px;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background: white;
}

// Cambiar la paleta de bootrsrap para la lista a los colores principales
.panel-primary > .panel-heading {
  background-color: $colorPrincipal !important;
  border-color: $colorPrincipal !important;
}

#result_panel {
  border-radius: $borderRadius $borderRadius 0px 0px;
  .panel-heading {
    border-radius: inherit;
    .panel-title {
      color: white;
      padding: 1%;
    }
  }
}

// Esconder la barra de desplazamiento 'x' & poner la 'y' en auto
ul.list-group {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 1.75rem !important;

  .noPartidas {
    margin: auto;
    display: block;
    padding: 5%;
  }
}

// Centrar el título y modificar el tamaño de letra
#info_partidas {
  padding: 0% 3%;

  h2 {
    text-align: center;
    padding: 5%;
  }
  p {
    font-size: 1.75rem;
  }
}
// Cambiamos el tamaño de letra en la selección del formulario y modificamos a gusto el botón,
// sobrescribiendo las opciones que seleccionamos en bootstrap
#form_partidas {
  margin: 5%;
  font-size: 1.75rem;


  select {
    font-size: 1.75rem !important;
    background-color: white;
  }
  button {
    width: 15% !important;
    margin: 1vw;
    margin-top: 0 !important;
    background-color: $colorPrincipal;
    font-size: 1.75rem !important;
    color: $colorLetra;

    &:hover {
      background-color: aclararColor($colorPrincipal);
    }

    &:last-of-type {
      background-color: $colorSecundario;

       &:hover {
        background-color: aclararColor($colorSecundario);
       }
    }
  }
  .form-control {
    font-size: 2rem;
  }
}
// Modificando cada parte de los elementos de la lista de partidas para que se muestren a nuestro gusto, primando lo visual
ul li.list-group-item {
  display: flex;
  padding: 5%;
  justify-content: space-between;

  div.imagen {
    position: relative;
    flex-basis: 50%;
    height: $heighPartidaImg;
    overflow: hidden;

    img {
      width: 100%;
      position: relative;
      //Top
      inset-block-start: 50%;
      //Left
      inset-inline-start: 50%;
      transform: translate(-50%, -50%);
    }

  }

  div.info {
    width: 30%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-between !important;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
  }

  .btn-info {
    color: white;
    margin: 3% 0%;
  }
}


.list-group {
  max-height: 800px !important;
  border: 1px solid rgba(0,0,0,.125);
}

// Usando la base ofrecida por w3schools en paginación hemos adaptado nuestras necesidades a sus modelos

.pagination {
  padding-bottom: 1%;

  li {
    list-style: none;
    display: inline-block;
    a {
      font-size: 1.25rem;
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color 0.3s;
      border: 1px solid #ddd;
      background-color: white;
      margin: 0 4px;
    }
    a.active {
      background-color: $colorPrincipal;
      color: white;
      border: 1px solid $colorPrincipalOscuro;
    }
  }
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

//Contenedor que aparece con mas informacion
.masInfoPartida {
  @include contenedor(60%, auto, $fondoLogin);
  margin: auto;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  //Left
  inset-inline-start: 50%;
  //Top
  inset-block-start: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;

  //Cabecera
  h1 {
    color: $colorPrincipalOscuro;
    flex-basis: 100%;
    text-align: center;
    //Bottom
    margin-block-end: 2%;
  }

  //Cada parrafo con la información
  p {
    flex-basis: 40%;
    text-align: center;
  }

  & > button:not(button:last-of-type){
    margin: 3% 5%;
  }

    //Botón cierre
  & > button:last-of-type {
    @include boton($colorPrincipal, 2rem);
    position: absolute;
    //Top
    inset-block-start: 2%;
    //Right
    inset-inline-end: 2%;
    border-radius: 100%;
    padding: 0.3% 1.2%;
  }

    //Carousel de imágenes para mas información de la partida
  #imagenesPartida {
    position: relative;
    width: 100%;

    //Indicadores del caorusel
    .carousel-indicators button {
      //Tamaños
      width: 15px;
      height: 15px;
      //Le quitamos que lo oculte para que muestre el botón como tal
      background-clip: unset;
      //Lo redondeamos, le poneos todos los bordes y le quitamos el fondo
      border-radius: 100%;
      border: 3px solid $colorLetra;
      background-color: $colorPrincipal;
    }

    .carousel-inner {
      margin-bottom: 5%;
    }

    //Botones de antes y despues del carousel
    .carousel-control-prev-icon, .carousel-control-next-icon {
        //Tamaño y posicionamiento
        width: 4rem;
        height: 4rem;
        background-size: 70%;
        background-position: 35%;
        background-color: $colorPrincipal;
        //Bordes para el botón
        border: 5px solid $colorLetra;
        border-radius: 100%;
    }

    //Para posicionar apropiadamente la flecha en el span
    .carousel-control-next-icon {
      background-position: 60%;
    }

    h2 {
      text-align: center;
    }

    img {
      display: block;
      margin: 1% auto;
      //Margin bottom
      margin-bottom: 5%;
      width: 350px;
      border-radius: $borderRadius;
    }
  }
}

//Tarjeta del carrusel de mas Info
.masInfoTarjeta {
  width: 350px;
  height: 230px;
  position: relative;
  //Left
  inset-inline-start: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  border-radius: $borderRadius;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// Para adaptar el formulario a las versiones portátiles
// vamos a cambiar la disposición de algunos elementos

@media (max-width:1100px)  {
  #form_partidas{
    flex-direction: column !important;
  }
  
}
@media (max-width:750px)  {
  #filtro_fechas{
    flex-direction: column;
  }
}

//Adaptación para móviles mediante aspect ratio
@media screen and (max-aspect-ratio:  195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
  //#MasInfo
  .masInfoPartida {
      width: 100%;

      button:not(button:last-of-type) {
        margin: 3% 0%;
      }
  }

  #form_partidas {
    button {
      width: 50% !important;
    }
  }

  //Contenedor de cada una de las tarjetas
  ul li.list-group-item {
    flex-wrap: wrap;

    div.imagen {
      flex-basis: 100%;
    }

    div.info {
      margin: 2% 0%;
      flex-basis: 100%;

      button {
        margin: 2% 0%;
      }
    }
  }
}
