
#perfilUsuario {
    @include contenedor(90%, auto, $colorLetra);
    margin: auto;
    padding: 2% 4%;
    border-radius: $borderRadius;
    font-size: 1.2em;
    //Flex como padre
    display: flex;
    flex-wrap: wrap;

        //Div con titulo y botón editar perfil
        & > div {
            padding: 1% 0%;
            position: relative;
            border-block-end: 1px solid $colorPrincipal;
            //Flex como hijo
            flex-basis: 100%;
        }

        //Titulo Cuenta
        h2 {
            text-align: center;
            //Padding bottom
            padding-block-end: 6%;
        }

        //Contenedor con última modificación y ultimo inicio de sesión
        #infoTiempos {
            //Posicionamiento
            position: absolute;
            //Left
            inset-inline-start: 2%;
            //Top
            inset-block-start: 50%;
            transform: translateY(-50%);
            //Estilo
            color: $colorPrincipal;

            p {
                //Margin bottom
                margin-block-end: 0.5%;
            }
        }

        //Todos lo botones
        button {
            @include boton($colorPrincipal, 1.4rem);
            padding: 0.5% 1%;
        }

        //Botón para editar el perfil
        #botones {
            position: absolute;
            //Right
            inset-inline-end: 2%;
            //Top
            inset-block-start: 10%;
            width: 20%;
            display: flex;
            justify-content: space-between;
        }

        //Titulo de cada div
        h3 {
            width: 100%;
            text-align: center;
        }


        //Todos los div para el acordeon
        fieldset {
            height: 100%;
            padding: 2%;
            margin: 2%;

            //Contenedor de cada una de las secciones (Sin incluir el título, sólo los input, label y select)
            & > div {
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding: 2%;
                margin: 2%;

                //Contenedor para la foto de perfil
                #contenedorPerfil {
                    flex-basis: 40%;
                    height: 20vh;
                    position: relative;
                    //background-color: grey;
                    border-radius: $borderRadius;
                    margin: auto;
                    //Margin bottom
                    margin-block-end: 2%;
                    overflow: hidden;
                    border: 1px solid $colorPrincipal;
                    overflow: hidden;

                    img {
                        @include contenedor(100%, 100%, transparent);
                        position: absolute;
                        border-radius: $borderRadius;
                        //Top
                        inset-block-start: 50%;
                        //Left
                        inset-inline-start: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
        
                label, input, select {
                    flex-basis: 48%;
                    padding: 2%;
                    margin: 1%;
                    transition: all 1s ease-in-out;
                }

                //Inputs cuandoe stán en no editables
                input[readonly], select[disabled] {
                    border: none;
                    outline: none;
                    background-color: transparent;
                    text-align: center;
                }

                #contenedorSuscripcion {
                    flex-basis: 100%;
                    position: relative;
                    
                    button {
                        display: inline-block;
                        position: absolute;
                        right: 0%;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
        
                input, select {
                    @include inputFormulario();
                }

                label[for='renovacion'], #renovacion {
                    flex-basis: calc(100%/3);
                }
        
                span {
                    padding: 2%;
                    margin: 1%;
                    //Flex como hijo
                    flex-basis: calc(100%/3);
                    flex-grow: 2;
                }

                button {
                    //Flex como hijo
                    flex-grow: 0;
                }
            }

            div:last-of-type {
                //Margin bottom
                margin-block-end: 0%;
            }
        }

        //Datos cuenta
        fieldset:first-of-type {
            //Border right
            border-inline-end: 1px solid $colorPrincipal;
            //Flex como hijo
            flex-basis: 46%;
        }

        //Datos personales
        fieldset:nth-of-type(2){
            //Flex como hijo
            flex-basis: 46%;
        }

        //Suscripcion
        fieldset:last-of-type {
            margin: auto;
            //Border top
            border-block-start: 1px solid $colorPrincipal;
            //Flex como hijo
            flex-basis: 100%;
            //Flex como padre
            justify-content: space-around;

            h3 {
                //Margin top
                margin-block-start: 2%;
            }
        }

        //Botón formulario para guardar los cambios
        input[type="submit"]{
            @include boton($colorPrincipal, 1.5rem);
            padding: 1% 2%;
            margin: auto;
            //Margin bottom
            margin-block-end: 5%;
            display: none;
        }
    }

h2,h3 {
    color: $colorPrincipalOscuro;
}

//Contendor flotante con el historial
#contenedorHistorial {
    @include contenedor(80%, auto, white);
    padding: 2%;
    position: absolute;
    //Top
    inset-block-start: 50%;
    //Left
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    border-radius: $borderRadius;
    font-size: 1.1em;

    //Botón para cerrar inicio sesión
    & >  button {
        @include boton($colorPrincipal, 2rem);
        position: absolute;
        //Top
        inset-block-start: 2%;
        //Right
        inset-inline-end: 2%;
        border-radius: 100%;
        padding: 0.3% 1.2%;
    }

    form {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;

        button {
            @include boton($colorPrincipal, 1.2em);
            padding: 0.5% 1%;
        }
    }

    #listaElementos {
        table-layout: fixed;
        @include contenedor(100%, 100%, transparent);
        text-align: center;
        margin: 3% 0%;
        overflow: hidden;
    }

    thead {
        //Border bottom
        border-block-end: 1px solid $colorPrincipal;

        th:first-of-type {
            width: 160px;
        }

        th:last-of-type {
            width: 100px;
        }

        th {
            color: $colorPrincipal;
            //Margin bottom
            padding-block-end: 1%;

            //Botón para crear partidas
            button {
                @include boton($colorPrincipal, 1.3rem);
                padding: 0.5%;
                margin: auto;
            }
        }
    }

    tbody {
        td {
            padding: 0.3% 1%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        td:nth-of-type(2){
            text-align: left;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        tr:not(tr:last-of-type) {
            //borer bottom
            border-block-end: 1px solid oscurecerColor($colorLetra);
        }

        button {
            @include boton($colorPrincipal, 1em);
            margin: auto;
        }
    }

    p {
        text-align: center;
        padding-top: 5%;
    }
}

//MasDetalles historial
#masDetallesHistorial {
    display: grid;
    grid-template-columns: repeat(2,calc(100%/2));
    grid-template-rows: 5% repeat(2, 47%);
    grid-template-areas: "cuenta cuenta" "datosCuenta datosPersonales" "suscripcion suscripcion";

    div > h3 {
        text-align: center;
    }

    & > div {
        width: 100%;
    }

    & > h2 {
        grid-area: cuenta;
        text-align: center;
    }

    #masDetallesCuenta {
        grid-area: datosCuenta;

        & > div {
            width: 100%;
            
            & > div {
                padding: 1%;

                span:first-of-type {
                    display: inline-block;
                    width: 200px;
                }
                
                span:nth-of-type(even), img {
                    //Margin left
                    margin-inline-start: 2%;
                }
            }
        }
    }

    #masDetallesPersonales {
        @extend  #masDetallesCuenta;
        grid-area: datosPersonales;
    }

    #masDetallesSuscripcion {
        @extend  #masDetallesCuenta;
        grid-area: suscripcion;
        margin-top: 3%;
        
        & > div {

            &  > div {
                display: flex;
                justify-content: center;

                span:nth-of-type(3){
                //Margin left
                margin-inline-start: 2%;
                }
            }
        }
    }

    & > button:last-of-type {
        @include boton($colorPrincipal, 2rem);
        position: absolute;
        //Top
        inset-block-start: 2%;
        //Right
        inset-inline-end: 2%;
        border-radius: 100%;
        padding: 0.3% 1.2%;
    }
}

@media (max-width: 800px) {
   #perfilUsuario {

        h2 {
            padding-block-end: 15%;
        }
   }
}

//Adaptación para móviles mediante aspect ratio
@media screen and (max-aspect-ratio:  195/422), (max-aspect-ratio: 375/667), (aspect-ratio: 280/653) {
    #perfilUsuario {
        padding: 2% 0%;

        //Formulario
        form {
            width: 100%;

            //Cabecera Cuenta
            h2 {
                text-align: start;
                margin-inline-start: 5%;
                //Padding bottom
                padding-block-end: 15%;
                //Padding top
                padding-block-start: 5%;
            }

            //Última modificación
            p {
                //Top
                inset-block-start: 70%;
            }

            //Botón editar cuenta
            #botones {
                //Top
                inset-block-start: 10%;
                transform: none;
                width: 65%;
            }

            //Contenedor con última modificación y Ultimo Inicio sesión
            #infoTiempos {
                position: relative;
                height: max-content;
                //Top
                inset-block-start: 0%;
            }

            fieldset:first-of-type, fieldset:nth-of-type(2) {
                flex-basis: 100%;
            }

            fieldset:first-of-type {
                border-inline-end: none;
                border-block-end: 1px solid $colorPrincipal;
            }

            fieldset {

                div {
                    //Inputs cuando esstán en no editables
                    input[readonly], select[disabled] {
                        text-align: start;
                        flex-basis: 100%;
                        padding: 2%;
                        margin: 1%;
                    }

                    //Contenedor para la imagen de perfil
                    #contenedorPerfil {
                        flex-basis: 80%;
                        height: 30vh;
                    }

                    label {
                        flex-basis: 100%;
                    }
                }
            }

            //Botón guardar cambio
            input[type=submit] {
                //Margin top
                margin-block-start: 5%;
            }

        //Botón cancelar suscripción
        button {
            margin: auto;
        }
    }
}

//Adaptación para móvil plegable
@media screen and (max-width: 300px) {
        #perfilUsuario {
                &> div {
                    padding: 2% 1%;
                }
        
                h2 {
                    text-align: start;
                    //Margin bottom
                    margin-block-end: 0%;
                    padding-block-end: 20%;
                }

                fieldset div {
                    //Contenedor para la imagen de perfil
                    #contenedorPerfil {
                        height: 25vh;
                    }
                }
            }
        }

//Adaptación para tablets mediante aspect ratio
@media screen and (max-aspect-ratio: 41/59) and (min-width: 540px), (max-aspect-ratio: 3/4) and (min-width: 540px), (aspect-ratio: 4/3) and (min-width: 540px), (aspect-ratio: 1/1)  {
    #perfilUsuario {
            font-size: 1.3rem;
    
            //Cabecera Cuenta
            h2 {
                //Padding bottom
                padding-block-end: 15%;
                //Padding top
                padding-block-start: 1%;
            }

            //Última modificación
            p {
                //Top
                inset-block-start: 70%;
            }

            //Botón editar perfil
            #botones {
                //Top
                inset-block-start: 10%;
                transform: none;
                width: 35%;
            }
    
            fieldset {
                div {
                    height: 93%;
                    margin: 0%;
                    padding: 0%;
    
                    label, input, select {
                        flex-basis: 100%;
                        padding: 2%;
                        margin: 1%;
                    }
    
                    input[readonly], select[disabled] {
                        text-align: start;
                    }
    
                    span {
                        flex-basis: calc(100%/3);
                    }

                    //Contenedor para la imagen de perfil
                    #contenedorPerfil {
                        flex-basis: 100%;
                    }
                }
            }
        }
    }
}
