<div id="suscripciones" class="carousel slide" data-bs-ride="carousel">
    <h2>Cajas anteriores</h2>
    {{! botones}}
        <div class="carousel-indicators">
            {{# indicadores}}
                <button type="button" data-bs-target="#suscripciones" data-bs-slide-to="{{num}}" {{# activo}}class="active" aria-current="true"{{/activo}} aria-label="Caja {{num}}"></button>
            {{/indicadores}}
        </div>
    {{! Interior Carrusel}}
    <div class="carousel-inner">
        {{! Tarjetas}}
        {{# cajaSorpresa}}
            <div class="carousel-item {{# activo}}active{{/activo}}">
                <div class="tarjeta">
                    <div class="imagenCaja">
                        <img src="{{imagen_caja}}" alt="Caja {{fecha}}">
                    </div>
                    <div class="contenidoTarjeta">
                        <h2>{{fecha | mes_anho}}</h2>
                        <ul>
                            {{#producto}}
                                <li>
                                    <span>{{nombre}}</span>
                                    <div class="imagenProducto">
                                        <img src="{{imagen_producto}}" alt="{{nombre}}">
                                    </div>
                                </li>
                            {{/producto}}
                        </ul>
                    </div>
                </div>
        </div>
        {{/cajaSorpresa}}
    </div>
    <!-- Botones -->
    <button class="carousel-control-prev" type="button" data-bs-target="#suscripciones" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#suscripciones" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    <button>Suscribirse</button>
</div>