<div id="error404">
    <img src="../img/logoClickBox.svg" alt="Logo ClickBox"/>
    <h2>Oh! Parece que no se pudo encontrar la página que busacabas..</h2>
    <div>
        <button type="button">Volver</button>
        <button type="button" route="/">Inicio</button>
    </div>
</div>