<footer>
    <ul id="infoPag">
        <li>
            <a href="../html/index.html">
                <img src="../img/logoClickBoxFooter.svg" alt="Logo ClickBox">
            </a>
        </li>
        <li>
            <a href="#">Protección de datos</a>
        </li>
        <li>
            <a href="../html/suscripciones.html">Suscripciones</a>
        </li>
        <li>
            <a href="../html/partidas.html">Partidas</a>
        </li>
        <li>
            <a href="#">Tienda</a>
        </li>
    </ul>
    <div id="redes">
        <a href="#"><img src="../img/iconos/logoTwitter.svg" alt="Logo de Twitter"></a>
        <a href="https://www.instagram.com/clickbox_web"><img src="../img/iconos/logoInstagram.svg" alt="Logo de Instagram"></a>
        <a href="https://www.tiktok.com/@clickbox_web"><img src="../img/iconos/logoTickTock.svg" alt="Logo de Tick Tock"></a>
    </div>
    <div id="localizacion">
        <h4>Localización</h4>
        <a href="https://www.google.com/maps/place/Paseo+Cronista+Xos%C3%A9+M.+%C3%81lvarez+Bl%C3%A1zquez,+26,+36203+Vigo,+Pontevedra/@42.230894,-8.7304107,17z/data=!3m1!4b1!4m5!3m4!1s0xd2f6212e2ab8fbf:0x3a36a0a129ebbdd9!8m2!3d42.23089!4d-8.728222">Paseo Cronista Xosé M. Álvarez Blázquez, 26, 36203 Vigo, Pontevedra</a>
        <div id="map">
        </div>
    </div>
</footer>