<div id="alerta">
    <span id="textoUltimasNov">Últimas novedades:</span>
    {{# novedades}}
        <a herf="#">{{nombre}} {{precio}}€</a>
    {{/novedades}}
</div>
<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <a href="index.html">
            <img src="../img/logoClickBox.svg" alt="Logo ClickBox">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#listaNav" aria-controls="listaNav" aria-expanded="false" aria-label="Menú hamburguesa"></button>
        <ul id="listaNav" class="collapse navbar-collapse">
            <li>
                <a href="../html/suscripciones.html">Suscripciones</a>
            </li>
            <li>
                <a href="../html/partidas.html">Partidas</a>
            </li>
            <li class="navDesactivado">
                <a href="#" class="development" data-toggle="tooltip" data-placement="top" title="En desarrollo">Tienda</a>
            </li>
        </ul>
        {{! Sección para usuarios registrados}}
        {{# usuario}}
        <a href="../html/carrito.html" id="iconoCarrito">
            <svg width="35" height="35" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
            </svg>
            <span class="badge rounded-pill">0</span>
        </a>
        <button id="botonPerfilUsuario">irea.vila.ramilo@gmail.com</button>
        <div id="menuPerfilUser">
            <a href="../html/perfilUsuario.html">Perfil de usuario</a>
            {{! Sección para usuarios administradores}}
            {{# administrador}}
                <a href="../html/panelAdministrador.html">Panel de Control</a>
            {{/administrador}}
            <a href="#">Desconectarme</a>
        </div>
        {{/usuario}}
        {{! Sección para usuarios anónimos}}
        {{^usuario}}
            <button id="inicioSesion">Iniciar sesión</button>
        {{/usuario}}
    </div>
</nav>
