<div id="login">
    <h2>Registrate o inicia sesión</h2>
    <p>Por favor crea una cuenta para poder acceder a más funcionalidades de la web como suscribirte, reservar partidas y mucho más</p>
    <p class="campoOblig">Los campos obligatorios están marcados con :</p>
    <div>
        <button class="noActivo" data-nombre="registro">Registrarse</button>
        <button data-nombre="login">Iniciar sesión</button>
    </div>
    <form action="" method="POST" enctype="multipart/form-data">
        <label for="email" class="campoOblig">Email</label>
        <input type="email" name="email" placeholder="Correo electrónico" id="email">
        <label for="pwd" class="campoOblig">Contraseña</label>
        <input type="password" name="pwd" placeholder="Contraseña" id="pwd">
        <p id="resultadoForm"></p>
        <div class="botonesForm">
            <input type="submit" value="IniciarSesión"/>
            <button type="button" class="cancelarLogin">Cancelar</button>
        </div>
    </form>
    <form action="" method="POST" enctype="multipart/form-data" id="registro">
        <div class="acordeon">
            <button type="button">Datos cuenta</button>
            <div>
                <label for="email" class="campoOblig">Email</label>
                <div>
                    <input type="text" name="email" id="email">
                </div>
                <label for="pwd" class="campoOblig">Contraseña</label>
                <div>
                    <input type="password" name="pwd" id="pwd"></div>
                <label for="pwd2" class="campoOblig">Repetir contraseña</label>
                <div>
                    <input type="password" name="pwd2" id="pwd2"></div>
                <label for="imagenPerfil" class="campoOblig">Imagen de perfil</label>
                <div>
                    <input type="file" name="imagenPerfil" id="imagenPerfil"></div>
                <label for="genero_favorito">Género favorito</label>
                <div>
                    <select name="genero_favorito" id="genero_favorito">
                        {{> generos}}
                    </select>
                </div>
                </div>
            </div>
            <div class="acordeon">
                <button type="button">Datos personales</button>
                <div style="display: none;">
                    <label for="nombre" class="campoOblig">Nombre</label>
                    <div>
                        <input type="text" name="nombre" id="nombre">
                    </div>
                    <label for="apellidos" class="campoOblig">Apellidos</label>
                    <div>
                        <input type="text" name="apellidos" id="apellidos">
                    </div>
                    <label for="telf">Teléfono</label>
                    <div>
                        <input type="telf" name="telf" id="telf">
                    </div>
                    <label for="fecha_nac" class="campoOblig">Fecha de nacimiento</label>
                    <div>
                        <input type="date" name="fecha_nac" id="fecha_nac">
                    </div>
                    <label for="direccion">Dirección</label>
                    <div>
                        <input type="text" name="direccion" id="direccion">
                    </div>
                </div>
            </div>
            <p id="resultadoForm"></p>
            <div class="botonesForm">
                <input type="submit" value="Registrarme">
                <button type="button" class="cancelarLogin">Cancelar</button>
            </div>
        </form>
</div>