<div id="panelAdmin">
  <div>
    <a data-bs-toggle="offcanvas" href="#cuerpoOffcanvasOpciones" role="button" aria-controls="cuerpoOffcanvasOpciones">Opciones de creación</a>
    <ul id="opcionesPanelAdmin">
      <!-- Tooltips: Como no se genera con DOM esta parte podemos meterlo manual-->
      <li class="pestCaja">
        <a
          href="#"
          data-toggle="tooltip"
          data-placement="top"
          title="En desarrollo"
          class="ventanaDesc development"
          >Cajas sorpresa</a
        >
      </li>
      <li class="pestPartidas">
          <a route="/panel_administracion_partidas" href="#" {{# paginaPartidas}}class="listaActivo" {{/paginaPartidas}} {{# paginaReservas}}class="listaActivo" {{/paginaReservas}}>Partidas</a>
        </li>
      <li class="pestProductos">
        <a route="/panel_administracion_productos"
          href="#"
          {{# paginaProductos}}class="listaActivo" {{/paginaProductos}}
          >Productos</a
        >
      </li>
      <li class="pestUsuarios">
          <a route="/panel_administracion_usuarios" href="#" {{# paginaUsuarios}}class="listaActivo" {{/paginaUsuarios}} {{# paginaHistorial}}class="listaActivo" {{/paginaHistorial}}>Usuarios</a>
        </li>
    </ul>
  </div>
  <!-- Comentar esto porque se carga todo desde JS-->

  <!--<form id="formPanelAdmin">
            <h2>Cajas sorpresa</h2>
            <label for="fecha">Fecha lanzamiento:</label>
            <input type="date" name="fecha" id="fecha"/>
            <label for="min_jug">Mínimo de jugadores:</label>
            <input type="number" name="min_jug" id="min_jug" max="10" min="3"/>
            <label for="max_jug">Máximo de jugadores:</label>
            <input type="number" name="max_jug" id="max_jug" max="10" min="3"/>
            <label for="genero">Género</label>
            <select name="genero" id="genero">
                <option value="aventuras">Aventuras</option>
                <option value="thriller">Thriller</option>
            </select>
            <label for="tematica">Temática</label>
            <select name="tematica" id="tematica">
                <option value="navidad">Navidad</option>
                <option value="sanValentin">San valentín</option>
            </select>
            <input type="submit" value="Crear caja"/>
            <button type="button">Cancelar</button>
        </form>-->
        {{# paginaCajas}}
            {{> cajas_sorpresa}}
        {{/paginaCajas}}
        {{# paginaPartidas}}
            {{> partidas}}
        {{/paginaPartidas}}
        {{# paginaReservas}}
          {{> reservas}}
        {{/ paginaReservas}}
        {{# paginaProductos}}
            {{> productos}}
        {{/paginaProductos}}
        {{# paginaUsuarios}}
            {{> usuarios}}
        {{/paginaUsuarios}}
        {{# paginaHistorial}}
        {{> historial}}
    {{/paginaHistorial}}
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="cuerpoOffcanvasOpciones" aria-labelledby="opcionesPanelAdminMovil">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="opcionesPanelAdminMovil">Opciones de creación</h4>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
     Elige el modo del panel de administración donde quieras crear los elementos
    </div>
    <ul>
      <li class="navDesactivado"><a  href="#" disabled>Cajas sorpresa</a></li>
      <li><a  href="#" route="/panel_administracion_partidas" {{# paginaPartidas}}class="listaActivo" {{/paginaPartidas}} {{# paginaReservas}}class="listaActivo" {{/paginaReservas}}>Partidas</a></li>
      <li><a  href="#" route="/panel_administracion_productos"  {{# paginaProductos}}class="listaActivo" {{/paginaProductos}}>Productos</a></li>
      <li ><a  href="#" route="/panel_administracion_usuarios" {{# paginaUsuarios}}class="listaActivo" {{/paginaUsuarios}} {{# paginaHistorial}}class="listaActivo" {{/paginaHistorial}}>Usuarios</a></li>
    </ul>
  </div>
</div>
