<div id="partidas">
    <div>
        <img src="../img/LogoPartida.svg" alt="Imagen svg">
        <button>Buscar partidas</button>
    </div>
    <div>
        <h2>Juega con nosotros!</h2>
        <p>No sabes si te gustará el juego, prueba con nosotros antes de comprarlo! Cada mes organizamos varias partidas donde podrás conocer gente y descubrir nuevos juegos. El director de partida será uno de los miembros de nuestra organización y se ocupará de guiaros en aprender las reglas del juego de forma sencilla y divertida</p>
        <button>Buscar partidas</button>
    </div>
</div>