<div id="tienda-main">
    <div id="filtradoTienda">
        <div class="filtroTiendaOpciones" id="filtro">
            <select name="generos" id="generos" class="form-select">
                <option value="">Seleccione..</option>
                {{> generos}}
            </select>
            <span class="form-label align-self-center">Géneros</span>
        </div>
        <div class="filtroTiendaOpciones">
            <input type="number" name="precio" class="form-input"/>
            <span class="form-label align-self-center">Precio</span>
        </div>
        <button type="button" id="botonFiltro">Filtrar</button>
        <button type="button" id="limpiarCampos">
            Limpiar filtro
          </button>
    </div>
    <div id="contenido_tienda">
        {{> filtrado}}
    </div>
    {{> paginacion}}
</div>