{{# partidas}}
<li class="list-group-item">
  <div class="imagen">
    <img src="{{ imagen_partida }}" />
  </div>
  <div class="info">
    <span>Juego: {{ nombre_juego }}</span>
    <span>Genero: {{ genero }}</span>
    <span>Fecha: {{ fecha | date_format : 'd-m-Y'}}</span>
    <span>Hora de inicio: {{ hora_inicio | date_format : 'H:i'}}</span>
    <button
      type="button"
      class="btn btn-lg btn-info masInfo"
      data-id="{{ id_partida }}"
    >
      Información
    </button>
    <button
      type="button"
      class="btn btn-lg btn-success reservarPartida"
      data-id="{{ id_partida }}"
    >
      ¡Reservar!
    </button>
  </div>
</li>
{{/partidas}}
{{^ partidas}}
<li class="noPartidas">No se han encontrado partidas</li>
{{/partidas}}
